!!! 1.1
%html
  %head
    %meta{ 'http-equiv'=>'Content-Type', :content=>'text/html;charset=UTF-8' }/
    %title= collection.title
    %style{ :type=>'text/css' }
      @import 'css/default.css';
      @import 'css/eiffel.css';
      @import 'css/print.css' print;
    %meta{ :name=>'subject', :content=>'Official Buildr documentation from the people in the know' }
  %body
    #wrap
      #header
        %img{ :src=>'images/apache-incubator-logo.png', :alt=>'Apache Incubator', :style=>'float:right;width:10em' }
        %img{ :src=>'images/buildr-hires.png', :alt=>collection.title, :style=>'width:20em' }
        .tagline= 'The build system that doesn\'t suck'
      #content
        = collection.toc.to_html(:nested, :class=>'toc')
        - pages.each do |page|
          %h1{ :id=>page.id }= page.title
          = page.toc.to_html(:nested, :class=>'toc')
          ~ collect_links(renumber_footnotes(page.content))
